* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .navbar {
  
    width: 100%;
  
  }
  @media(max-width:786px){
    .navbar{
        display: none;
    }
  }
  .navbardata{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    color: white;

  }
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  /* .navbar-links a:hover {
    color: #ffcc00;
  } */
  
  /* .navbar-button button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar-button button:hover {
    background-color: #ffcc00;
  }
   */